<footer>
    <p class="linebreak"></p>
  
      <div class="row" style="padding: 4rem;">
          <div class="col-md-4">
              <div class="card">
                  <div class="card-body">
                    <h2 class="card-title"><img src="/img/steering-wheel.png" style="width: 30px;"/> Test Drive</h2>
                    <button class="btn btn-secondary">
                      <a  href="/testdrive">Book an appointment</a>
                  </button>
                  </div>
                </div>
          </div>
          <div class="col-md-4">
              <div class="card">
                  <div class="card-body">
                    <h2 class="card-title"><i class="fas fa-phone"></i>Contact US</h2>
                    <button class="btn btn-secondary">
                      <a  href="/contact">Talk to us</a>
                  </button>
                  </div>
                </div>
          </div>
           <div class="col-md-4">
              <div class="card">
                  <div class="card-body">
                    <h2 class="card-title"><i class="fab fa-accusoft"></i>About Us</h2>
                    <button class="btn btn-secondary">
                      <a  href="/about">Learn more about us</a>
                  </button>
                  </div>
                </div>
           </div>
      </div>
        
      <section class="section-12">
       <div class="row">
  
          <div class="col-md-3">
              <h3>Brands</h3>
              <ul>
                  <li>Peugeot</li>
                  <li>Citreon</li>
                  <li>MB PV</li>
              </ul>
          </div>
          <div class="col-md-3">
              <h3>About Us</h3>
              <ul>
                  <li>About Company</li>
                  <li>Terms and Conditions</li>
                  <li>Privacy</li>
                  <li>CSR</li>
                  <li>Milestone</li>
              </ul>
          </div>
          <div class="col-md-3">
              <h3>Service</h3>
              <ul>
                  <li>Test Drive</li>
                  <li>Talk to Us</li>
                  <li>FeedBack</li>
              </ul>
          </div>
       </div>
      </section>
      <!-- </div> -->
  
      <p class="linebreak"></p>
      <div>
          <p style="color:#fff;padding: 2rem;">&copy; 1996-2021 Two friends and Co Company Limited | Privacy Policy</p>
  
      </div>
  </footer>