<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
  <link rel="stylesheet" href="css/Homestyle.css"/>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark">
        <div class="container-fluid">
        
          <a class="navbar-brand" href="/" style="font-size: 4rem;  ; letter-spacing: 0.06rem;"><img src="img/photo_2021-11-22_19-41-05.jpg"  style="width: 40px; border-radius: 50%;"/> Wheel<span style="color: blue;">Site</span></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Brands</a>
                <ul class="dropdown-menu" style="width: 50rem;">
                  <li style="padding: 1.2rem; font-size: 1.5rem; font-weight: bolder;"><a class="dropdown-item" href="/brand/Mercedes-Benz">Mercedes-Benz</a></li>
                  <li style="padding: 1.2rem; font-size: 1.5rem; font-weight: bolder;"><a class="dropdown-item" href="/brand/BMW">BMW</a></li>
                  <li style="padding: 1.2rem; font-size: 1.5rem; font-weight: bolder;"><a class="dropdown-item" href="/brand/HYUNDAI">HYUNDAI</a></li>
                  <li style="padding: 1.2rem; font-size: 1.5rem; font-weight: bolder;"><a class="dropdown-item" href="/brand/HONDA">HONDA</a></li> 
                  <li style="padding: 1.2rem; font-size: 1.5rem; font-weight: bolder;"><a class="dropdown-item" href="/brand/KIA">kIA</a></li>
                  <li style="padding: 1.2rem; font-size: 1.5rem; font-weight: bolder;"><a class="dropdown-item" href="/brand/CHEVEROLET">CHEVEROLET</a></li>
                  <li style="padding: 1.2rem; font-size: 1.5rem; font-weight: bolder;"><a class="dropdown-item" href="/brand/Nissan">NISSAN</a></li>  
                  <li style="padding: 1.2rem; font-size: 1.5rem; font-weight: bolder;"><a class="dropdown-item" href="/brand/TOYOTA">TOYOTA</a></li>  
                </ul>
              </li>
            </ul>
            
            <%if(isAuthenticated){%>
              <div>
                <h3 style="color: #fff;"><a href="/favorite"><%=username%></a></h3>
              </div>
       <div>
           <button class="btn btn-primary" style="color:#fff; font-size: 2rem">
            <a href="/logout">Logout</a>
           </button>
       </div>
       <%}else{%>
         <div>
          <a href="/login">
           <button class="btn btn-primary" style="color:#fff; font-size: 2rem">
            Login
           </button>  </a>
           
       </div>

       <%}%>
          </div>
        </div>
        
      </nav>
    
      <div id="demo" class="carousel slide" data-bs-ride="carousel">

        <!-- Indicators/dots -->
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
          <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
          <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
        </div>
      
        <!-- The slideshow/carousel -->
        <div class="carousel-inner">
          <div class="carousel-item active image">
            <img src="img/pexels-mike-120049.jpg" alt="Los Angeles" class="d-block w-100">
            <div class="carouselover1">
                <h3>BOOK A TEST DRIVE NOW</h3>
                <p>
                  Refined, composed and a pleasure to drive. Experience it for yourself by booking an appointment with your nearest Silver Star Auto Retailer at a time that suits you.
                </p>
                
                <button class="btn btn-primary">
                    Book an appointment
                </button>
                </div>
          </div>
          <div class="carousel-item image">
            <img src="img/pexels-styves-exantus-8109632.jpg" alt="Chicago" class="d-block w-100">
            <div class="carouselover2">
                <h3>BOOK A TEST DRIVE NOW</h3>
                <p>
                  Refined, composed and a pleasure to drive. Experience it for yourself by booking an appointment with your nearest Silver Star Auto Retailer at a time that suits you.
                </p>
                
                <button class="btn btn-primary">
                    Book an appointment
                </button>
                </div>
          </div>
          <div class="carousel-item image">
            <img src="img/r-nolan-1ZhZpP91olQ-unsplash.jpg" alt="New York" class="d-block w-100">
            <div class="carouselover">
                <h3>BOOK A TEST DRIVE NOW</h3>
                <p>
                  Refined, composed and a pleasure to drive. Experience it for yourself by booking an appointment with your nearest Silver Star Auto Retailer at a time that suits you.
                </p>
                
                <button class="btn btn-primary">
                    Book an appointment
                </button>
                </div>
          </div>
        </div>
      
        <!-- Left and right controls/icons -->
        <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
          <span class="carousel-control-next-icon"></span>
        </button>
      </div>

      <p class="linebreak"></p>
<section class="section1">

    <div class="description">
    <h3>Discovery Our Journey</h3>
    <h2>
        As the leading automotive distributor in Ghana
    </h2>
<p>
    At Silver Star Auto we are proud of the incredible accomplishments that we’ve undertaken over the years. Here are a few highlights of what we’ve achieved so far
</p>
    </div>
    <div id="demo" class="carousel slide achievements" data-bs-ride="carousel">

        <!-- Indicators/dots -->
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
          <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
          <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
        </div>
      
        <!-- The slideshow/carousel -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="achievement">
                <h1>2019</h1>
                <p>Silver Star Auto Limited is a leading automobile firm in Ghana that has been synonymous with luxury for over 20 years. We started our operations in 1996 and now have branches in Accra, Tema and Kumasi to cater to all your sales and servicing needs.As the authorized distributors of Mercedes-Benz, Peugeot and Citroën brands of vehicles in Ghana, our product line covers the full spectrum of automobile needs including saloon cars, SUVs, vans, trucks and buses.
                  We also deal in the sale of genuine spare parts, and are authorized distributors of Energizer Batteries, Power Oils and Motul Oils in Ghana. We guarantee reliable after-sales service support, including body and paint repair works..</p>
                
            </div>
          </div>
          <div class="carousel-item">
            <div class="achievement">
                <h1>2016</h1>
                <p>Silver Star Auto Limited is a leading automobile firm in Ghana that has been synonymous with luxury for over 20 years. We started our operations in 1996 and now have branches in Accra, Tema and Kumasi to cater to all your sales and servicing needs.As the authorized distributors of Mercedes-Benz, Peugeot and Citroën brands of vehicles in Ghana, our product line covers the full spectrum of automobile needs including saloon cars, SUVs, vans, trucks and buses.
                  We also deal in the sale of genuine spare parts, and are authorized distributors of Energizer Batteries, Power Oils and Motul Oils in Ghana. We guarantee reliable after-sales service support, including body and paint repair works...</p>
                
            </div>
          </div>
          <div class="carousel-item">
            <div class="achievement">
                <h1>2015</h1>
                <p>Silver Star Auto Limited is a leading automobile firm in Ghana that has been synonymous with luxury for over 20 years. We started our operations in 1996 and now have branches in Accra, Tema and Kumasi to cater to all your sales and servicing needs.As the authorized distributors of Mercedes-Benz, Peugeot and Citroën brands of vehicles in Ghana, our product line covers the full spectrum of automobile needs including saloon cars, SUVs, vans, trucks and buses.
               We also deal in the sale of genuine spare parts, and are authorized distributors of Energizer Batteries, Power Oils and Motul Oils in Ghana. We guarantee reliable after-sales service support, including body and paint repair works.</p>
                
            </div>
          </div>
        </div>
      
        <!-- Left and right controls/icons -->
      
      </div>
<!-- 
<div class="">
    
<div class="achievement">
    <h1>2019</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem aspernatur natus ea fuga esse quis quos mollitia adipisci iure, repudiandae, animi libero a numquam minima at similique optio minus ut.</p>
</div>
<div  class="achievement">
    <h1>2019</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem aspernatur natus ea fuga esse quis quos mollitia adipisci iure, repudiandae, animi libero a numquam minima at similique optio minus ut.</p>
</div>
<div  class="achievement">
    <h1>2019</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem aspernatur natus ea fuga esse quis quos mollitia adipisci iure, repudiandae, animi libero a numquam minima at similique optio minus ut.</p>
</div>
</div> -->
</section>
<section class="section2">
<h3>
    Discover Silver Star Auto
</h3>
 
   <div class="row">
<div class="col-md-4">
    <div class="img">
        <img src="img/car1.f5b1f97f.jpg"/>
    </div>
    <h4>Exciting New Models</h4>
    <p>
        Check out the new GLE, GLC, and A-Class 2020 Mercedes-Benz models, equipped with state-of-the-art MBUX intelligent infotainment system
    </p>
</div>
<div  class="col-md-4">
    <div class="img">
        <img src="img/car2.c74a0126.png"/>
    </div>
    <h4>Exciting New Models</h4>
    <p>
        Check out the new GLE, GLC, and A-Class 2020 Mercedes-Benz models, equipped with state-of-the-art MBUX intelligent infotainment system
    </p>

</div>
<div  class="col-md-4">
    <div class="img">
        <img src="img/car3.f518779d.png"/>
    </div>
    <h4>LIMITED-TIME OFFERS</h4>
    <p>
      Visit our service centres in Accra, Tema and Kumasi for quick and reliable after-sales support. Services include express and routine maintenance, towing, and breakdown repairs
    </p>
</div>
</div>
</section>

<section class="section3">
    <div class="imag">
        <img src="img/pexel-garvin-st-villier-3778776.png"/ width="100%">

    </div>
<div class="over">
  <h3>BOOK A TEST DRIVE NOW</h3>
                <p>
                  Refined, composed and a pleasure to drive. Experience it for yourself by booking an appointment with your nearest Silver Star Auto Retailer at a time that suits you.
                </p>

<button class="btn btn-secondary">
    <a  href="#">Book an appointment</a>
</button>
</div>

    
</section>

<footer>
  <p class="linebreak"></p>

    <div class="row" style="padding: 4rem;">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                  <h2 class="card-title"><img src="/img/steering-wheel.png" style="width: 30px;"/> Test Drive</h2>
                  <button class="btn btn-secondary">
                    <a  href="/testdrive">Book an appointment</a>
                </button>
                </div>
              </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                  <h2 class="card-title"><i class="fas fa-phone"></i>Contact US</h2>
                  <button class="btn btn-secondary">
                    <a  href="/contact">Talk to us</a>
                </button>
                </div>
              </div>
        </div>
         <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                  <h2 class="card-title"><i class="fab fa-accusoft"></i>About Us</h2>
                  <button class="btn btn-secondary">
                    <a  href="/about">Learn more about us</a>
                </button>
                </div>
              </div>
         </div>
    </div>
      
    <section class="section-12">
     <div class="row">

        <div class="col-md-3">
            <h3>Brands</h3>
            <ul>
                <li>Peugeot</li>
                <li>Citreon</li>
                <li>MB PV</li>
            </ul>
        </div>
        <div class="col-md-3">
          <h3>About Us</h3>
          <ul>
              <li>About Company</li>
              <li>Terms and Conditions</li>
              <li>Privacy</li>
              <li>CSR</li>
              <li>Milestone</li>
          </ul>
      </div>
      <div class="col-md-3">
          <h3>Service</h3>
          <ul>
              <li>Test Drive</li>
              <li>Talk to Us</li>
              <li>FeedBack</li>
          </ul>
      </div>
    </section>
    <!-- </div> -->

    <p class="linebreak"></p>
    <div>
        <p style="color:#fff;padding: 2rem;">&copy; 1996-2021 Two friends and Co Company Limited | Privacy Policy</p>

    </div>
</footer>
</body>
</html>