
* , ::after ,::before{

    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    font-size: 62.5%;
}
 .brand h1{
 
    font-size: 14rem;
    font-weight: bolder;
    text-transform: capitalize;
    letter-spacing: 0.05rem;
    padding: 4rem;
}
.navbar{

  height: 6rem;
  font-size: 2rem;
  font-weight: bolder;
  padding: 3rem;
 background-color: black;
 box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
 /* position:fixed; */
 top: 0%;
 left: 0;
 width: 100%;
 z-index:1;
 opacity: 1;
}

a {
  text-decoration: none;
  color: inherit;
}


p.linebreak{

    width: 90%;
   background-color:rgb(138, 133, 133);
    height: 0.1rem;
    margin:0 auto;
    margin-top:5rem ;
}
.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items:flex-start;
    margin-top: 10rem;
    padding: 5rem;
    margin-bottom: 10rem;
  }
  
  .card1 {
      width: 30rem;
      height: 30rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    padding-bottom:1rem;
transition:transform .4s ease-in;
}
.card1:hover{
  transform: scale(1.06);
}
  .card__header,
  .card__content {
   width: 100%;
   margin: 0 auto;
  }
  
  .card__header h1,
  .card__content h1,
  .card__content h2,
  .card__content p {
    margin: 0;
  }
  
  .card__image {
    width: 30rem;
  }
  
  .card__image img {
    width: 100%;
  }
  

.make , .model{

    font-size: 2rem;
    font-weight: bolder;
    color: rgb(199, 186, 186);
    
}
 
.model a{

    color: rgb(199, 186, 186);
    text-decoration: none;
    
}

.price{

    font-size: 1.5rem;
  letter-spacing: 0.04rem;
   color: black;
}

p.like{
  text-align: right; position: relative; bottom:  40px;cursor: pointer; color:rgb(194, 191, 191);
}

p.like :hover , p.like:hover ,i:hover{
  text-align: right;
  color: red;
  
}
 
.like button{

  background-color: #fff;
  outline: none;
  border: none;
}

.carouselover{

    position: absolute;
    top: 20%;
    left:5%;
       font-size: 2rem;
       padding: 3rem;
       width: 70rem;
       color: #fff;
     /* border-radius: 5rem; */
      text-align: justify;
      margin: 3rem;
      letter-spacing: 0.06rem;


}
.carouselover p{
   /* color: rgb(42, 42, 235); */
   /* font-size: 2.4rem;
    */
 padding: 4rem;
   word-spacing: 0.03rem;
}

.carouselover button{
   /* outline: none; */
   border: none;
   padding: 0.5rem;
   border-radius: .3rem;
   font-size: 2rem;
   color: #fff;
   margin-left: 2.5rem;

}
.carouselover1{

    position: absolute;
    top: 20%;
    left:5%;
    font-size: 2.2rem;
    padding: 3rem;
    width: 70rem;
    color: rgba(250, 250, 250 ,0.8);
     /* border-radius: 5rem; */
      text-align: justify;
      margin: 3rem;
      letter-spacing: 0.06rem;
      background-color: rgba(12, 12, 65  ,0.3);

}

.carouselover1 p{
    /* color: rgb(42, 42, 235); */
    /* font-size: 2.4rem;
     */
  padding: 4rem;
    word-spacing: 0.03rem;
 }
.carouselover1 button{
    /* outline: none; */
    border: none;
    padding: 0.5rem;
    border-radius: .3rem;
    font-size: 2rem;
    color: #000;
    margin-left: 2.5rem;
 
 }
 .carouselover2{

    position: absolute;
    top: 20%;
    left:5%;
       font-size: 2.2rem;
       padding: 3rem;
       width: 70rem;
       color: #000;
     /* border-radius: 5rem; */
      text-align: justify;
      margin: 3rem;
      letter-spacing: 0.06rem;
      background-color:rgb(218, 215, 204 , 0.3)

}

.carouselover2 p{
    /* color: rgb(42, 42, 235); */
    /* font-size: 2.4rem;
     */
  padding: 4rem;
    word-spacing: 0.03rem;
 }
.carouselover2 button{
    /* outline: none; */
    border: none;
    padding: 0.5rem;
    border-radius: .3rem;
    font-size: 2rem;
    color: #000;
    margin-left: 2.5rem;
}

.carousel 
{
    padding:10rem;
}
.carousel img{

    height: 60rem;
}




footer{

  width: 100%;
  padding: 5rem;
  padding-top: 10rem;
  font-size: 1.4rem;
    background-color: black;
}

div.card{
  padding: 5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  transition:transform .4s ease-in;
}
div.card:hover{
  transform: scale(1.06);
}
div.card h2 {

font-size: 2.1rem;
letter-spacing: 0.02rem;


font-weight: bolder;
text-transform: capitalize;
}

div.card button{
  border: none;
  margin-top: 1.3rem;
  padding: 0.5rem;
  border-radius: .3rem;
  font-size: 2rem;
  color: white;
  background-color: #000;
  width: 80%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

section.section-12{

  padding: 5rem;
  

}

section.section-12 h2{
  font-size: 2.1rem;
   letter-spacing:0.02rem ;
   padding:0.9rem;
   
   font-weight: bold;
}

.col-md-3 h3{

  font-size: 2.1rem;
  letter-spacing:0.02rem ;
  padding:0.9rem;
  color:darkgray;
  font-weight: bold;
}

section.section-12 li,section.section-12 p{

  font-size: 1.5rem ;
  letter-spacing: 0.02rem;
  padding: 0.2rem;
  color: #fff;

}