* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}
.navbar{

  height: 6rem;
  font-size: 2rem;
  font-weight: bolder;
  padding: 5rem;
 background-color: black;
 /* position:fixed; */
 top: 0%;
 left: 0;
 width: 100%;
 z-index:1;
 opacity: 1;
}

#notfound {
  position: relative;
  height: 100vh;
  background-color: #222;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.notfound {
  max-width: 460px;
  width: 100%;
  text-align: center;
  line-height: 1.4;
}

.notfound .notfound-404 {
  height: 158px;
  line-height: 153px;
}

.notfound .notfound-404 h1 {
  font-family: 'Josefin Sans', sans-serif;
  color: #222;
  font-size: 220px;
  letter-spacing: 10px;
  margin: 0px;
  font-weight: 700;
  text-shadow: 2px 2px 0px #c9c9c9, -2px -2px 0px #c9c9c9;
}

.notfound .notfound-404 h1>span {
  text-shadow: 2px 2px 0px   rgb(42, 42, 235), -2px -2px 0px   rgb(42, 42, 235), 0px 0px 8px   rgb(42, 42, 235);
}

.notfound p {
  font-family: 'Josefin Sans', sans-serif;
  color: #c9c9c9;
  font-size: 16px;
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 15px;
}

.notfound a {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  background: transparent;
  color: #c9c9c9;
  border: 2px solid #c9c9c9;
  display: inline-block;
  padding: 10px 25px;
  font-weight: 700;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.notfound a:hover {
  color: #ffab00;
  border-color: #ffab00;
}
.navbar{

  height: 6rem;
  font-size: 2rem;
  font-weight: bolder;
  padding: 5rem;
 background-color: black;
 /* position:fixed; */
 top: 0%;
 left: 0;
 width: 100%;
 z-index:1;
 opacity: 1;
}

@media only screen and (max-width: 480px) {
  .notfound .notfound-404 {
    height: 122px;
    line-height: 122px;
  }

  .notfound .notfound-404 h1 {
      font-size: 122px;
  }
}
p.linebreak{

  width: 90%;
 background-color:whitesmoke;
  height: 0.1rem;
  margin:0 auto;
  margin-top:5rem ;
}

footer{

  width: 100%;
  padding: 5rem;
  padding-top: 10rem;
  font-size: 1.4rem;
    background-color: black;
}

div.card{
  padding: 5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  transition:transform .4s ease-in;
}
div.card:hover{
  transform: scale(1.06);
}
div.card h2 {

font-size: 2.1rem;
letter-spacing: 0.02rem;


font-weight: bolder;
text-transform: capitalize;
}

div.card button{
  border: none;
  margin-top: 1.3rem;
  padding: 0.5rem;
  border-radius: .3rem;
  font-size: 2rem;
  color: white;
  background-color: #000;
  width: 80%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

section.section-12{

  padding: 5rem;
  

}

section.section-12 h2{
  font-size: 2.1rem;
   letter-spacing:0.02rem ;
   padding:0.9rem;
   
   font-weight: bold;
}

.col-md-3 h3{

  font-size: 2.1rem;
  letter-spacing:0.02rem ;
  padding:0.9rem;
  color:darkgray;
  font-weight: bold;
}

section.section-12 li,section.section-12 p{

  font-size: 1.5rem ;
  letter-spacing: 0.02rem;
  padding: 0.2rem;
  color: #fff;

}